target
.git
.idea
.env
*.log
docs
node_modules
frontend/node_modules
frontend/dist
src/main/resources/static
test-results
playwright-report
/frontend/e2e
/frontend/playwright.config.ts
/package.json
/package-lock.json
/playwright.config.ts
